In [76]:
# from keras.utils import np_utils, plot_model

# from sklearn.model_selection import train_test_split
# from sklearn.metrics import mean_squared_error

# from keras.utils.vis_utils import model_to_dot
# from IPython.display import SVG

import numpy as np
import pandas as pd

from datetime import datetime,timedelta
import matplotlib.pyplot as plt

In [79]:
df = pd.read_csv("../data/buoy/sagami3rd.csv", header=0)
df.columns = ["time", "buoy_tmp"]
df["time"] = pd.to_datetime(df["time"])

# 2->１時間ごとに変換
hours = (df.iloc[-1]["time"]-df.iloc[0]["time"])/timedelta(hours=1) 
_df = pd.DataFrame()
_df["time"] =  pd.date_range(df.iloc[0]["time"], periods=hours ,freq='1h')
df = pd.merge(_df, df, on="time",how='left')
df = df.fillna(method="ffill")

data_buoy = pd.DataFrame(columns=_df.columns)
for year in range(2013, 2017+1):
    start = datetime(year,7,1,0,0,0)
    end = datetime(year,9,1,0,0,0)
    data_buoy = pd.concat([data, df.query('time >= \"{0}\" & time < \"{1}\"'.format(start, end))])

In [78]:
data_buoy

       buoy_tmp                time
8611      22.06 2013-07-01 00:00:00
8612      22.06 2013-07-01 01:00:00
8613      21.90 2013-07-01 02:00:00
8614      21.90 2013-07-01 03:00:00
8615      21.82 2013-07-01 04:00:00
8616      21.82 2013-07-01 05:00:00
8617      22.02 2013-07-01 06:00:00
8618      22.02 2013-07-01 07:00:00
8619      21.82 2013-07-01 08:00:00
8620      21.82 2013-07-01 09:00:00
8621      21.94 2013-07-01 10:00:00
8622      21.94 2013-07-01 11:00:00
8623      22.18 2013-07-01 12:00:00
8624      22.18 2013-07-01 13:00:00
8625      22.37 2013-07-01 14:00:00
8626      22.37 2013-07-01 15:00:00
8627      22.60 2013-07-01 16:00:00
8628      22.60 2013-07-01 17:00:00
8629      22.70 2013-07-01 18:00:00
8630      22.70 2013-07-01 19:00:00
8631      22.59 2013-07-01 20:00:00
8632      22.59 2013-07-01 21:00:00
8633      22.62 2013-07-01 22:00:00
8634      22.62 2013-07-01 23:00:00
8635      22.49 2013-07-02 00:00:00
8636      22.49 2013-07-02 01:00:00
8637      22.37 2013-07-02 02:00:00
8638      22.37 2013-07-02 03:00:00
8639      22.29 2013-07-02 04:00:00
8640      22.29 2013-07-02 05:00:00
...         ...                 ...
44404     25.60 2017-07-31 04:00:00
44405     25.60 2017-07-31 05:00:00
44406     25.49 2017-07-31 06:00:00
44407     25.49 2017-07-31 07:00:00
44408     25.31 2017-07-31 08:00:00
44409     25.31 2017-07-31 09:00:00
44410     25.33 2017-07-31 10:00:00
44411     25.33 2017-07-31 11:00:00
44412     24.89 2017-07-31 12:00:00
44413     24.89 2017-07-31 13:00:00
44414     26.24 2017-07-31 14:00:00
44415     26.24 2017-07-31 15:00:00
44416     25.79 2017-07-31 16:00:00
44417     25.79 2017-07-31 17:00:00
44418     24.32 2017-07-31 18:00:00
44419     24.32 2017-07-31 19:00:00
44420     25.57 2017-07-31 20:00:00
44421     25.57 2017-07-31 21:00:00
44422     25.53 2017-07-31 22:00:00
44423     25.53 2017-07-31 23:00:00
44424     25.83 2017-08-01 00:00:00
44425     25.83 2017-08-01 01:00:00
44426     25.88 2017-08-01 02:00:00
44427     25.88 2017-08-01 03:00:00
44428     25.77 2017-08-01 04:00:00
44429     25.77 2017-08-01 05:00:00
44430     25.83 2017-08-01 06:00:00
44431     25.83 2017-08-01 07:00:00
44432     25.87 2017-08-01 08:00:00
44433     25.87 2017-08-01 09:00:00

[7461 rows x 2 columns]

In [ ]:
data = pd.merge(data_hiratsuka, data_msm, on="time", how='outer').sort_values(by="time")

for loc in locations:
    data = pd.merge(data, dict_data_kishocho[loc], on="time", how='outer').sort_values(by="time")

data = pd.merge(data, data_buoy, on="time", how='outer').sort_values(by="time")